@import url('./contants.css');

.pagination {
    padding: 40px;
    display: inline-block;
    justify-content: center;
    width: 100%;
    display: flex; 
}

.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    height: auto;
    margin-bottom: 0;
    width: auto;
}

.pagination button.active {
    background-color: var(--primary);
    color: white;
}
  
.pagination button:hover:not(.active) {
    background-color: var(--primary-opacity);
    color: #fff;
}